# Exercise-2
Add the specified code for each code cell, running the cells _in order_.

Run the below cell to import `pandas` and `numpy`

In [1]:
import pandas as pd
import numpy as np

Create a Series of 100 employees "names" ("Employee 1", "Employee 2", ... "Employee 100"). _Tip:_ use a list comprehension to produce the list of strings!
- Use the `head()` and `tail()` methods to view the first and last 3 employees to check your work.

In [2]:
employees = []
for num in range(1,101):
    employees.append("Employee "+str(num))
names = pd.Series(employees)
print(names.head(3))
print(names.tail(3))

0    Employee 1
1    Employee 2
2    Employee 3
dtype: object
97     Employee 98
98     Employee 99
99    Employee 100
dtype: object

Create a Series of 100 random salaries for the year 2015. These should be uniformly distributed bwteen 40000 and 50000. _Hint:_ try using the [`numpy.random.uniform()`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.uniform.html) function, or call the Python `random.uniform()` function repeatedly.
- This is not a liveable wage in Seattle, and in fact is below US median :(

In [3]:
salaries_2015 = np.random.uniform(40000, 50000, 100)

Create a Series of 100 salaries in 2016 that have changed from 2015 by a random amount between -5000 and 10000.

In [4]:
changes = np.random.uniform(-5000, 10000, 100)
salaries_2016 = salaries_2015 + changes

Create a DataFrame **`salaries`** by combining the three Series you just made.

In [5]:
salaries = pd.DataFrame({'employees': employees, 'salaries_2015':salaries_2015, 'salaries_2016':salaries_2016},
                        columns=['salaries_2015','salaries_2016'])

Print the first 10 rows in the `salaries` DataFrame.

In [6]:
salaries.head(10)

   salaries_2015  salaries_2016
0   40943.070112   42312.942671
1   41308.692734   44120.208584
2   46282.708455   46126.033990
3   41020.143920   37472.874322
4   48298.077636   51951.054724
5   40525.074126   46421.919740
6   49652.837075   51554.428691
7   44919.662024   43003.096366
8   41223.647551   47412.297390
9   49640.843675   56027.124415

Add a column `change` to your DataFrame that contains the "change" in salary between 2016 and 2015.

In [7]:
salaries['change']=changes
salaries.head(10)

   salaries_2015  salaries_2016       change
0   40943.070112   42312.942671  1369.872559
1   41308.692734   44120.208584  2811.515850
2   46282.708455   46126.033990  -156.674465
3   41020.143920   37472.874322 -3547.269598
4   48298.077636   51951.054724  3652.977088
5   40525.074126   46421.919740  5896.845614
6   49652.837075   51554.428691  1901.591616
7   44919.662024   43003.096366 -1916.565658
8   41223.647551   47412.297390  6188.649839
9   49640.843675   56027.124415  6386.280740

Add a column `got_raise` to your DataFrame that is `True` if the employee got a raise (their salary increased) in 2016.

In [8]:
got_raise  = changes>0
salaries['got raise'] = got_raise
salaries.head(10)

   salaries_2015  salaries_2016       change got raise
0   40943.070112   42312.942671  1369.872559      True
1   41308.692734   44120.208584  2811.515850      True
2   46282.708455   46126.033990  -156.674465     False
3   41020.143920   37472.874322 -3547.269598     False
4   48298.077636   51951.054724  3652.977088      True
5   40525.074126   46421.919740  5896.845614      True
6   49652.837075   51554.428691  1901.591616      True
7   44919.662024   43003.096366 -1916.565658     False
8   41223.647551   47412.297390  6188.649839      True
9   49640.843675   56027.124415  6386.280740      True

**Retrieve values from the `salaries` DataFrame to answer the following questions. Try to get as specific a value as possible (e.g., a single value rather than the whole row!)**

What was the 2016 salary of Employee 57?

In [9]:
salaries['salaries_2016'][56]

43352.596705475931

How many employees got a raise? (It should be around 2/3rds)

In [10]:
rise_num = len(salaries[got_raise])
rise_num

68

What was the amount of the largest raise?

In [11]:
max_raise = salaries.change.max()
max_raise

9556.0520922659562

What was the "name" of the employee who received the highest raise?

In [13]:
salaries.loc[salaries.change == max_raise, 'employees'].iloc[0]

KeyError: 'the label [employees] is not in the [columns]'

What is the 2016 salary of the person who received the largest payment (decrease in salary) between the two years?